.settings {
    display: flex;
}

.settingsWrapper {
    flex: 9;
    padding: 20px;
}

.settingsTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.settingsUpdateTitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

.settingsDeleteTitle {
    font-size: 12px;
    cursor: pointer;
    color: red;
}

.settingsForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.settingsPP{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.settingsPP >  img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.settingsPPImg {
    margin-left: 20px;
    cursor: pointer;
}

.settingsPPIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #666;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor:pointer;
}

.settingsForm > label {
    font-size: 20px;
    margin-top: 20px;
}

.settingsForm > input {
    color: grey;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid #ccc ;
}

.settingsSubmit {
    margin-top: 2rem;
    width: 150px;
    height: 40px;
    align-self: center;
    border: none;
    border-radius: 10px;
    background-color: teal;
    color: white;
    cursor:pointer;
}