.singlepost{
    flex:9;
}
.singlePostWrapper{
    padding: 20px;
    padding-right: 0;
}

.singlePostImg{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
}

.singlePostEdit{
    float: right;
    font-size: 16px;
}

.singlePostIcon{
    margin-left: 10px;  
    cursor: pointer;
}

.singlePostIcon:first-child{
    color: #3b5998;
}
.singlePostIcon:nth-child(2){
    color: #e4405f;
}

.singlePostInfo{
    margin-bottom: 20px;
    font-size: 16px;
    justify-content: space-between;
    display: flex;
    color: #b39656;
}

.singlePostDesc{
    font-size: 18px;
    line-height: 25px;   
}

.singlePostDesc:first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight:600;

}